@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap');


*{
      box-sizing: border-box;
      font-family: 'Epilogue' , sans-serif;
}



body{
      margin: 0;
      padding: 0;
}

.nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2em 3em 0;
}

.nav-container{
      display: flex;
      align-items: center;
}
.nav ul{
      display: flex;

      gap: 2em;
}

li{
      list-style: none;
}

a{
      text-decoration: none;
      color: gray;
}
.secondary-nav{
      display: flex;
      gap: 3em;
      
      align-items: center;
}

.secondary-nav button{

      outline: none;
      border: 1px solid black;
      background-color: white;
      padding: .5em 1em;
      border-radius: 10px;



}

.hero{
      display: flex;
      margin: 0 10em;
      justify-content: space-between;
}
h1{
      font-weight: 700;
      font-size: 50px;
}

.hero-design{
      padding-top: 5em;
}

.hero-sec img{
      width: 400px;
}

.hero button{

      outline: none;
      border: 1px solid black;
      background-color: black;
      padding: .8em 1.5em;
      border-radius: 10px;
      color: white;

}

.icons{
      margin-top: 10rem;
      margin-left: -1rem;
}

.icons img{
      margin-left: 1em;
}

ion-icon{
      display: none;
}

@media only screen and (max-width: 600px){
      #closemenu{
          display: block;
          font-size: 25px;
          color: #fff;
          position: absolute;
         
          
      }

      nav img{
            margin-top: 1em;
      }


      #icon{
          display: block;
          font-size: 25px;
          position: absolute;
          left: 350px;
          top: 45px;
      }
      #sidemenu img{
            display: none;
      }
  
      .nav ul{
         background: purple;
         position: fixed;
         top: -20px;
         right: -200px;
         width: 200px;
         text-align: center;
         height: 100vh;
         padding-top: 50px;
         z-index: 2;
         transition: right 0.5s;
         display: block;
      }
      
      ul{
          display: block;
          gap: .1em;
  
  
      }
  
   
      
      nav ul a{
          display: block;
          font-size: 14px;
          margin-top: 1em;
          color: white;
      }
  
      nav li{
          display: block;
      }
      
      nav ul li a{
          justify-content: center;
          align-items: center; 
          padding: 14px;
          color: white;
          text-decoration: none;
          font-size: 18px;
          display: block;
      }
      
      a:hover{
          color: rgb(223, 14, 14);
          border: transparent;
      }
      nav ion-icon{
            position:absolute;
            top: 25px;
            left: 150px;
        }

        .secondary-nav{
            display: none;
        }

        .hero{
            display: flex;
            flex-direction: column;
        }
        .hero-sec img{
            width: 100%;
            object-fit: cover;
            order: 2;
            margin: 1em;
        }

        .hero-design h1{
            display: inline-block;
            font-size: 25px;
           padding: 0;
           margin: 0;
        }

        .icons{
            width: 100%;
            align-items: center;
            text-align: center;
        }

        .icons{
            margin-top: 0;
            margin-left: 0;
            position: relative;
            top: 400px;
            display: flex;
            gap: 2em;
            align-items: center;
            justify-content: center;
      }
      
      .icons img{
            margin-left: 0;
      }

      }

